<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatVenture"
        tools:targetApi="31">
        <activity
            android:name=".CatsBehaviour"
            android:exported="false" />
        <activity
            android:name=".BuildHealthyLifestyle"
            android:exported="false" />
        <activity
            android:name=".Video1"
            android:exported="false" />
        <activity
            android:name=".CatFMoment"
            android:exported="false" />
        <activity
            android:name=".NeedHelp"
            android:exported="false" />
        <activity
            android:name=".HealthCareRoutine"
            android:exported="false" />
        <activity
            android:name=".Bengal"
            android:exported="false" />
        <activity
            android:name=".AmericanShorthair"
            android:exported="false" />
        <activity
            android:name=".Ragdoll"
            android:exported="false" />
        <activity
            android:name=".Persian"
            android:exported="false" />
        <activity
            android:name=".Siamase"
            android:exported="false" />
        <activity
            android:name=".MaineCoon"
            android:exported="false" />
        <activity
            android:name=".catType"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>